{% extends "store/base.html" %}
{% load static %}

{% block title %}
صفحه اصلی
{% endblock %}

{% block content %}
    <header>
        <h1>محصولات ما</h1>
    </header>
    <div>
        {% for product in products %}
            <div class="product-card">
                <h2><a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a></h2>
                <p>{{ product.price }} تومان</p>
            </div>
        {% empty %}
            <p>محصولی برای نمایش وجود ندارد.</p>
        {% endfor %}
    </div>
{% endblock %}
